﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <ul id="menu">
        <li><a href="@Url.Action("Index", "Default")">Get All User</a></li>
        <li><a href="@Url.Action("GetUserByUsername", "Default")">Get User By Username</a></li>
        <li><a href="@Url.Action("GetProductByCategory", "Product")">Get Product By Category</a></li>
        <li><a href="@Url.Action("GetProductByCategoryAndUsername", "Product")">Get Product By Category and Username</a></li>
        <li><a href="@Url.Action("AddUser", "Default")">Add User</a></li>
        <li><a href="@Url.Action("DeleteUser", "Default")">Delete User By Usernamee</a></li>
        <li><a href="@Url.Action("UpdateUser", "Default")">Update User By Username</a></li>
        
    </ul>


    <div>
        @RenderBody()
    </div>
</body>
</html>
