﻿@model MVCWebAPIClient1212100.Models.GetAllProduct



@{
    ViewBag.Title = "GetProductByCategory";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("GetProductByCategory", "Product", FormMethod.Post))
{
     <h5>Get Product By Category</h5>
    @Html.TextBox("txtCategory")
    <input type="submit" value="Submit" />
}


@if (Model != null)
{
    foreach (var item in Model.listofProduct)
    {
        <p>
            Name: @item.name <br />
            Price: @item.price<br />
            UserID: @item.userid <br />
           
            
            <br />
        </p>
    }

}

