﻿@model MVCWebAPIClient1212100.Models.GetAllProduct
@{
    ViewBag.Title = "GetProductByCategoryAndUsername";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("GetProductByCategoryAndUsername", "Product", FormMethod.Post))
{
    <h5>Get Product By Category</h5>
    <h6>Category:</h6>
    @Html.TextBox("txtCategorySearch")
    <h6>Username:</h6>
    @Html.TextBox("txtUsernameSearch")
    
    <input type="submit" value="Submit" />
}


@if (Model != null)
{
    foreach (var item in Model.listofProduct)
    {
        <p>
            Name: @item.name <br />
            Price: @item.price<br />
            UserID: @item.userid <br />


            <br />
        </p>
    }

}

