﻿@using MVCWebAPIClient1212100.Models
@model MVCWebAPIClient1212100.Models.NguoiDung
@{
    ViewBag.Title = "Home Page";
   
}

<br />
<br />
<br />

<h1>@ViewBag.MS</h1>

@using (Html.BeginForm())
{
    <h5>1. Get All User</h5>
    <button id="btnGetAllUser">Get</button><br /> 
    
    <h5>2. Get User By Username</h5>
    <h6> Username:</h6><input id="txtUsername" type="text" /> <br />
    <button id="btnGetUserByUsername">Get</button>  <br />
    
    <h5>3. Get Product By Category</h5>
    <h6>Category Id:</h6><input id="txtCategory" type="text" /> <br />
     <button id="btnGetProductByCategory">Get</button>  <br />
    
    <h5>4. Get Product By Category an Username</h5>
    <h6>Category Id:</h6>
    <input id="txtCategorySearch" type="text" />  <br />
    <h6>Username:</h6>
    <input id="txtUsernameSearch" type="text" /><br /> 
     <button id="btnGetProductByCategoryAndUsername">Get</button> <br />
    
    <h5>5. Add User</h5>
    <h6>New Username:</h6>
    <input id="txtNewUsername" type="text"/><br />
    <h6>New Password:</h6>
    <input id="txtNewPassword" type="text"/><br />
    <button id="btnPostUser">Add</button><br /> <br />
    
    
    <h5>6. Delete User By Username</h5>
    <h6>Username:</h6>
    <input id="txtUsernameDelete" type="text" /> <br />
    <button id="btnDeleteUser">Delete</button>  <br />
    
    
    
    <h5>7. Update User By Username</h5>
    <h6>Username:</h6>
    <input id="txtUsernamePut" type="text" /> <br />
    <h6>New Password:</h6>
    <input id="txtNewPassword" type="text" /> <br />
    <button id="btnPutUser">Update</button>  <br /><br />
    

    <div id="lblMessage"></div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                url: 'http://localhost:22337/api.2.0/users',
                dataType: 'json',
                timeout: 10 * 1000
            })
            .done(function (data) {
                alert("done");
            })
            .fail(function (jqXHR, textStatus, error) {
                alert('error');
            });
        });
    </script>
}
