﻿
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("AddUser", "Default", FormMethod.Post))
{
    <h5>Update User By Username</h5>
    <h6>Username:</h6>
    @Html.TextBox("txtNewUsername")
    <h6>New Password:</h6>
    @Html.TextBox("txtNewPassword")
    <input type="submit" value="Submit" />
}


<h6>@ViewBag.MS</h6>

