﻿
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("DeleteUser", "Default", FormMethod.Post))
{
    <h5>Delete User By Username</h5>
    <h6>Username:</h6>
    @Html.TextBox("txtUsernameDelete")
  
    <input type="submit" value="Submit" />
}


<h6>@ViewBag.MS</h6>

