﻿@model MVCWebAPIClient1212100.Models.NguoiDung
@{
    ViewBag.Title = "GetUserByUsername";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("GetUserByUsername", "Default", FormMethod.Post))
{
    <h5>Get User By Username</h5>
    @Html.TextBox("txtUsername")
    <input type="submit" value="Submit" />
}

@if (Model != null)
{
   
        <p>
            Username: @Model.username <br />
            Password: @Model.password<br /><br />
        </p>
   

}

