﻿@model MVCWebAPIClient1212100.Models.GetAllUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@using (Html.BeginForm("Index", "Default",FormMethod.Post))
{
    <h5>Get All User</h5>
      <input type="submit" value="Submit" />
}

@if (Model != null)
{
    foreach (var item in Model.listUsers)
    {
        <p>
            Username: @item.username <br />
            Password: @item.password<br /><br />
        </p>
    }
   
}



