﻿
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



@using (Html.BeginForm("AddUser", "Default", FormMethod.Post))
{
    <h5>Add User</h5>
    <h6>New Username:</h6>
    @Html.TextBox("txtUsernamePut")
    <h6>New Password:</h6>
    @Html.TextBox("txtNewPasswordPut")
    <input type="submit" value="Submit" />
}


<h6>@ViewBag.MS</h6>

